/code/x64/Debug/chapter2.obj
/code/x64/Debug/code.exe
/code/x64/Debug/code.exe.recipe
/code/x64/Debug/code.ilk
/code/x64/Debug/code.log
/code/x64/Debug/code.pdb
/code/x64/Debug/code.tlog/CL.command.1.tlog
/code/x64/Debug/code.tlog/CL.read.1.tlog
/code/x64/Debug/code.tlog/CL.write.1.tlog
/code/x64/Debug/code.tlog/code.lastbuildstate
/code/x64/Debug/code.tlog/link.command.1.tlog
/code/x64/Debug/code.tlog/link.read.1.tlog
/code/x64/Debug/code.tlog/link.write.1.tlog
/code/x64/Debug/code.vcxproj.FileListAbsolute.txt
/code/x64/Debug/simon.obj
/code/x64/Debug/vc143.idb
/code/x64/Debug/vc143.pdb
/code/.vs/code/v17/Browse.VC.db-shm
/code/.vs/code/v17/Browse.VC.db-wal
/code/.vs/code/v17/Browse.VC.opendb
